In [1]:
import pandas as pd
import numpy as np
from kmodes.kprototypes import KPrototypes
from sklearn.cluster import KMeans

In [2]:
data = pd.read_excel('Data1.xlsx')
data

,UMUR,JENIS KELAMIN,KECAMATAN,FOTO TORAKS,STATUS HIV,RIWAYAT DIABETES,HASIL TCM,LOKASI ANATOMI (target/output)
0,17,P,AROSBAYA,Positif,Negatif,Tidak,Tidak dilakukan,Paru
1,19,P,KONANG,Positif,Negatif,Tidak,Tidak dilakukan,Paru
2,37,P,MODUNG,Positif,Negatif,Tidak,Tidak dilakukan,Paru
3,62,P,KAMAL,Positif,Negatif,Tidak,Tidak dilakukan,Paru
4,25,P,MODUNG,Tidak dilakukan,Negatif,Tidak,Tidak dilakukan,Ekstra paru
...,...,...,...,...,...,...,...,...
980,53,L,TANJUNGBUMI,Negatif,Tidak diketahui,Tidak,Tidak dilakukan,Ekstra paru
981,17,P,TRAGAH,Negatif,Tidak diketahui,Tidak,Tidak dilakukan,Ekstra paru
982,16,L,SOCAH,Negatif,Tidak diketahui,Tidak,Tidak dilakukan,Ekstra paru
983,69,P,BURNEH,Negatif,Tidak diketahui,Tidak,Tidak dilakukan,Ekstra paru
984,68,L,BURNEH,Positif,Tidak diketahui,Tidak,Negatif,Paru

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 985 entries, 0 to 984
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   UMUR                            985 non-null    int64
 1   JENIS KELAMIN                   985 non-null    object
 2   KECAMATAN                       985 non-null    object
 3   FOTO TORAKS                     985 non-null    object
 4   STATUS HIV                      985 non-null    object
 5   RIWAYAT DIABETES                985 non-null    object
 6   HASIL TCM                       985 non-null    object
 7   LOKASI ANATOMI (target/output)  985 non-null    object
dtypes: int64(1), object(7)
memory usage: 61.7+ KB

In [4]:
data.drop('KECAMATAN', axis=1, inplace=True)
data

,UMUR,JENIS KELAMIN,FOTO TORAKS,STATUS HIV,RIWAYAT DIABETES,HASIL TCM,LOKASI ANATOMI (target/output)
0,17,P,Positif,Negatif,Tidak,Tidak dilakukan,Paru
1,19,P,Positif,Negatif,Tidak,Tidak dilakukan,Paru
2,37,P,Positif,Negatif,Tidak,Tidak dilakukan,Paru
3,62,P,Positif,Negatif,Tidak,Tidak dilakukan,Paru
4,25,P,Tidak dilakukan,Negatif,Tidak,Tidak dilakukan,Ekstra paru
...,...,...,...,...,...,...,...
980,53,L,Negatif,Tidak diketahui,Tidak,Tidak dilakukan,Ekstra paru
981,17,P,Negatif,Tidak diketahui,Tidak,Tidak dilakukan,Ekstra paru
982,16,L,Negatif,Tidak diketahui,Tidak,Tidak dilakukan,Ekstra paru
983,69,P,Negatif,Tidak diketahui,Tidak,Tidak dilakukan,Ekstra paru
984,68,L,Positif,Tidak diketahui,Tidak,Negatif,Paru

In [5]:
data['UMUR'] = data['UMUR'].astype(str)

In [6]:
data['STATUS HIV'] = data['STATUS HIV'].replace(['Tidak diketahui'], np.NaN)
data['HASIL TCM'] = data['HASIL TCM'].replace(['Tidak dilakukan'], np.NaN)
data['FOTO TORAKS'] = data['FOTO TORAKS'].replace(['Tidak dilakukan'], np.NaN)
data

,UMUR,JENIS KELAMIN,FOTO TORAKS,STATUS HIV,RIWAYAT DIABETES,HASIL TCM,LOKASI ANATOMI (target/output)
0,17,P,Positif,Negatif,Tidak,NaN,Paru
1,19,P,Positif,Negatif,Tidak,NaN,Paru
2,37,P,Positif,Negatif,Tidak,NaN,Paru
3,62,P,Positif,Negatif,Tidak,NaN,Paru
4,25,P,NaN,Negatif,Tidak,NaN,Ekstra paru
...,...,...,...,...,...,...,...
980,53,L,Negatif,NaN,Tidak,NaN,Ekstra paru
981,17,P,Negatif,NaN,Tidak,NaN,Ekstra paru
982,16,L,Negatif,NaN,Tidak,NaN,Ekstra paru
983,69,P,Negatif,NaN,Tidak,NaN,Ekstra paru
984,68,L,Positif,NaN,Tidak,Negatif,Paru

In [7]:
data.isnull().sum()

UMUR                                0
JENIS KELAMIN                       0
FOTO TORAKS                        28
STATUS HIV                        261
RIWAYAT DIABETES                    0
HASIL TCM                         439
LOKASI ANATOMI (target/output)      0
dtype: int64

In [8]:
data['STATUS HIV'].fillna('NaN', inplace=True)
data['HASIL TCM'].fillna('NaN', inplace=True)
data['FOTO TORAKS'].fillna('NaN', inplace=True)
data

,UMUR,JENIS KELAMIN,FOTO TORAKS,STATUS HIV,RIWAYAT DIABETES,HASIL TCM,LOKASI ANATOMI (target/output)
0,17,P,Positif,Negatif,Tidak,NaN,Paru
1,19,P,Positif,Negatif,Tidak,NaN,Paru
2,37,P,Positif,Negatif,Tidak,NaN,Paru
3,62,P,Positif,Negatif,Tidak,NaN,Paru
4,25,P,NaN,Negatif,Tidak,NaN,Ekstra paru
...,...,...,...,...,...,...,...
980,53,L,Negatif,NaN,Tidak,NaN,Ekstra paru
981,17,P,Negatif,NaN,Tidak,NaN,Ekstra paru
982,16,L,Negatif,NaN,Tidak,NaN,Ekstra paru
983,69,P,Negatif,NaN,Tidak,NaN,Ekstra paru
984,68,L,Positif,NaN,Tidak,Negatif,Paru

In [9]:
from sklearn.preprocessing import LabelEncoder

labelencoder = LabelEncoder()

data['JENIS KELAMIN'] = labelencoder.fit_transform(data['JENIS KELAMIN'])
#data['FOTO TORAKS'] = labelencoder.fit_transform(data['FOTO TORAKS'])
#data['STATUS HIV'] = labelencoder.fit_transform(data['STATUS HIV'])
data['FOTO TORAKS'].replace({ 'Negatif':0, 'Positif':1}, inplace=True)
data['STATUS HIV'].replace({'Negatif':0, 'Positif':1 }, inplace=True)
data['RIWAYAT DIABETES'] = labelencoder.fit_transform(data['RIWAYAT DIABETES'])
#data['HASIL TCM'] = labelencoder.fit_transform(data['HASIL TCM'])
data['HASIL TCM'].replace({'Rif resisten':0,'Rif Sensitif':1, 'Negatif':2}, inplace=True)
data['LOKASI ANATOMI (target/output)'] = labelencoder.fit_transform(data['LOKASI ANATOMI (target/output)'])
data

,UMUR,JENIS KELAMIN,FOTO TORAKS,STATUS HIV,RIWAYAT DIABETES,HASIL TCM,LOKASI ANATOMI (target/output)
0,17,1,1,0,0,NaN,1
1,19,1,1,0,0,NaN,1
2,37,1,1,0,0,NaN,1
3,62,1,1,0,0,NaN,1
4,25,1,NaN,0,0,NaN,0
...,...,...,...,...,...,...,...
980,53,0,0,NaN,0,NaN,0
981,17,1,0,NaN,0,NaN,0
982,16,0,0,NaN,0,NaN,0
983,69,1,0,NaN,0,NaN,0
984,68,0,1,NaN,0,2,1

In [10]:
encoded = pd.get_dummies(data['JENIS KELAMIN'], prefix='JENIS KELAMIN')
encoded.astype(int)

     JENIS KELAMIN_0  JENIS KELAMIN_1
0                  0                1
1                  0                1
2                  0                1
3                  0                1
4                  0                1
..               ...              ...
980                1                0
981                0                1
982                1                0
983                0                1
984                1                0

[985 rows x 2 columns]

In [13]:
data = data.drop(['JENIS KELAMIN'], axis = 1)
data['JENIS KELAMIN_0'], data['JENIS KELAMIN_1'] = encoded.astype(int)['JENIS KELAMIN_0'], encoded.astype(int)['JENIS KELAMIN_1']
#encoded.astype(int)
data

AttributeError: 'numpy.ndarray' object has no attribute 'drop'

In [14]:
from sklearn import preprocessing

scaler = preprocessing.MinMaxScaler()
data = scaler.fit_transform(data)

data

array([[0.17777778, 1.        , 0.        , ..., 1.        , 0.        ,
        1.        ],
       [0.2       , 1.        , 0.        , ..., 1.        , 0.        ,
        1.        ],
       [0.4       , 1.        , 0.        , ..., 1.        , 0.        ,
        1.        ],
       ...,
       [0.16666667, 0.        ,        nan, ..., 0.        , 1.        ,
        0.        ],
       [0.75555556, 0.        ,        nan, ..., 0.        , 0.        ,
        1.        ],
       [0.74444444, 1.        ,        nan, ..., 1.        , 1.        ,
        0.        ]])

In [15]:
df = pd.DataFrame(data, columns =['UMUR', 'FOTO TORAKS', 'STATUS HIV', 'RIWAYAT DIABETES', 'HASIL TCM', 'LOKASI ANATOMI (target/output)', 'JENIS KELAMIN_0', 'JENIS KELAMIN_1'])
df

,UMUR,FOTO TORAKS,STATUS HIV,RIWAYAT DIABETES,HASIL TCM,LOKASI ANATOMI (target/output),JENIS KELAMIN_0,JENIS KELAMIN_1
0,0.177778,1.0,0.0,0.0,NaN,1.0,0.0,1.0
1,0.200000,1.0,0.0,0.0,NaN,1.0,0.0,1.0
2,0.400000,1.0,0.0,0.0,NaN,1.0,0.0,1.0
3,0.677778,1.0,0.0,0.0,NaN,1.0,0.0,1.0
4,0.266667,NaN,0.0,0.0,NaN,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...
980,0.577778,0.0,NaN,0.0,NaN,0.0,1.0,0.0
981,0.177778,0.0,NaN,0.0,NaN,0.0,0.0,1.0
982,0.166667,0.0,NaN,0.0,NaN,0.0,1.0,0.0
983,0.755556,0.0,NaN,0.0,NaN,0.0,0.0,1.0
984,0.744444,1.0,NaN,0.0,1.0,1.0,1.0,0.0

In [16]:
df['JENIS KELAMIN_0'] = df['JENIS KELAMIN_0'].astype('object')
df['JENIS KELAMIN_1'] = df['JENIS KELAMIN_1'].astype('object')
df['FOTO TORAKS'] = df['FOTO TORAKS'].astype('object')
df['STATUS HIV'] = df['STATUS HIV'].astype('object')
df['RIWAYAT DIABETES'] = df['RIWAYAT DIABETES'].astype('object')
df['HASIL TCM'] = df['HASIL TCM'].astype('object')
df['LOKASI ANATOMI (target/output)'] = df['LOKASI ANATOMI (target/output)'].astype('object')
df['UMUR'] = df['UMUR'].astype('int')
print(df.dtypes)

UMUR                               int32
FOTO TORAKS                       object
STATUS HIV                        object
RIWAYAT DIABETES                  object
HASIL TCM                         object
LOKASI ANATOMI (target/output)    object
JENIS KELAMIN_0                   object
JENIS KELAMIN_1                   object
dtype: object

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 985 entries, 0 to 984
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   UMUR                            985 non-null    int32
 1   FOTO TORAKS                     957 non-null    object
 2   STATUS HIV                      724 non-null    object
 3   RIWAYAT DIABETES                985 non-null    object
 4   HASIL TCM                       546 non-null    object
 5   LOKASI ANATOMI (target/output)  985 non-null    object
 6   JENIS KELAMIN_0                 985 non-null    object
 7   JENIS KELAMIN_1                 985 non-null    object
dtypes: int32(1), object(7)
memory usage: 57.8+ KB

In [18]:
df.isnull().sum()

UMUR                                0
FOTO TORAKS                        28
STATUS HIV                        261
RIWAYAT DIABETES                    0
HASIL TCM                         439
LOKASI ANATOMI (target/output)      0
JENIS KELAMIN_0                     0
JENIS KELAMIN_1                     0
dtype: int64

In [19]:
# Memisahkan kolom-kolom kategorikal dan numerik
id_cat, cat_cols, num_cols = list(), list(), list()
for i, col in enumerate(df.columns):
    if df[col].dtype == 'object':
        id_cat.append(i)
        cat_cols.append(col)
    else:
        num_cols.append(col)

In [21]:
# Menghapus baris dengan missing value
df_clean = df.dropna()

In [22]:
# Melakukan clustering pada data yang telah di-drop missing valuenya
id_cat = [1,2,3,4,5,6,7]
kproto = KPrototypes(n_clusters=3, init='Cao', verbose=2)
clusters = kproto.fit_predict(df_clean, categorical=id_cat)

Initialization method and algorithm are deterministic. Setting n_init to 1.
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters
Init: initializing centroids
Init: initializing clusters

ValueError: Clustering algorithm could not initialize. Consider assigning the initial clusters manually.

In [ ]:
all_clusters = kproto.cluster_centroids_
for i, col in enumerate(all_clusters):
    centroid_cluster = all_clusters[i]

In [23]:
for i in range(len(num_cols)):
    std = df_clean[num_cols[i]].std()
fitur_imputed = list()

In [ ]:
# Membuat dataframe untuk imputasi missing value
df_impute = df.copy()

In [42]:
to_impute = df.loc[df[col].isnull()].values
if len(to_impute) != 0:
    fitur_imputed.append(col)
    for e in range(n_cluster):
        locals()['cluster_' + str(e)] = list()

In [64]:
n_cluster = 3

list1 = list()
df_join = df.dropna(subset=[col])
for a in range(n_cluster):
    for b in range(len(to_impute)):
        for c in range(len(to_impute[b])):
            if c not in id_cat:
                locals()['dist_' + str(df.columns[c])] = (to_impute[b][c] - float(all_clusters[a][c]))**2
            elif c in id_cat:
                if to_impute[b][c] == all_clusters[a][c]:
                    locals()['dist_' + str(df.columns[c])] = 0
            else:
                locals()['dist_' + str(df.columns[c])] = 1

In [68]:
dist_UMUR = 0 

val_num, val_cat = float(), int()
for d in range(len(df.columns)):
    if d not in id_cat:
        val_num = locals()['dist_' + str(df.columns[d])]
    if d not in id_cat:
        val_num = locals()['dist_' + str(df.columns[d])]
# jika kategorik
    else:
        val_cat += locals()['dist_' + str(df.columns[d])]

KeyError: 'dist_FOTO TORAKS'