In [1]:
import pandas as pd
import numpy as np
from kmodes.kprototypes import KPrototypes
from sklearn.cluster import KMeans

In [2]:
data = pd.read_excel('Data1.xlsx')
data

,UMUR,JENIS KELAMIN,KECAMATAN,FOTO TORAKS,STATUS HIV,RIWAYAT DIABETES,HASIL TCM,LOKASI ANATOMI (target/output)
0,17,P,AROSBAYA,Positif,Negatif,Tidak,Tidak dilakukan,Paru
1,19,P,KONANG,Positif,Negatif,Tidak,Tidak dilakukan,Paru
2,37,P,MODUNG,Positif,Negatif,Tidak,Tidak dilakukan,Paru
3,62,P,KAMAL,Positif,Negatif,Tidak,Tidak dilakukan,Paru
4,25,P,MODUNG,Tidak dilakukan,Negatif,Tidak,Tidak dilakukan,Ekstra paru
...,...,...,...,...,...,...,...,...
980,53,L,TANJUNGBUMI,Negatif,Tidak diketahui,Tidak,Tidak dilakukan,Ekstra paru
981,17,P,TRAGAH,Negatif,Tidak diketahui,Tidak,Tidak dilakukan,Ekstra paru
982,16,L,SOCAH,Negatif,Tidak diketahui,Tidak,Tidak dilakukan,Ekstra paru
983,69,P,BURNEH,Negatif,Tidak diketahui,Tidak,Tidak dilakukan,Ekstra paru
984,68,L,BURNEH,Positif,Tidak diketahui,Tidak,Negatif,Paru

In [3]:
data.drop('KECAMATAN', axis=1, inplace=True)
data

,UMUR,JENIS KELAMIN,FOTO TORAKS,STATUS HIV,RIWAYAT DIABETES,HASIL TCM,LOKASI ANATOMI (target/output)
0,17,P,Positif,Negatif,Tidak,Tidak dilakukan,Paru
1,19,P,Positif,Negatif,Tidak,Tidak dilakukan,Paru
2,37,P,Positif,Negatif,Tidak,Tidak dilakukan,Paru
3,62,P,Positif,Negatif,Tidak,Tidak dilakukan,Paru
4,25,P,Tidak dilakukan,Negatif,Tidak,Tidak dilakukan,Ekstra paru
...,...,...,...,...,...,...,...
980,53,L,Negatif,Tidak diketahui,Tidak,Tidak dilakukan,Ekstra paru
981,17,P,Negatif,Tidak diketahui,Tidak,Tidak dilakukan,Ekstra paru
982,16,L,Negatif,Tidak diketahui,Tidak,Tidak dilakukan,Ekstra paru
983,69,P,Negatif,Tidak diketahui,Tidak,Tidak dilakukan,Ekstra paru
984,68,L,Positif,Tidak diketahui,Tidak,Negatif,Paru

In [4]:
data['STATUS HIV'] = data['STATUS HIV'].replace(['Tidak diketahui'], np.NaN)
data['HASIL TCM'] = data['HASIL TCM'].replace(['Tidak dilakukan'], np.NaN)
data['FOTO TORAKS'] = data['FOTO TORAKS'].replace(['Tidak dilakukan'], np.NaN)
data

,UMUR,JENIS KELAMIN,FOTO TORAKS,STATUS HIV,RIWAYAT DIABETES,HASIL TCM,LOKASI ANATOMI (target/output)
0,17,P,Positif,Negatif,Tidak,NaN,Paru
1,19,P,Positif,Negatif,Tidak,NaN,Paru
2,37,P,Positif,Negatif,Tidak,NaN,Paru
3,62,P,Positif,Negatif,Tidak,NaN,Paru
4,25,P,NaN,Negatif,Tidak,NaN,Ekstra paru
...,...,...,...,...,...,...,...
980,53,L,Negatif,NaN,Tidak,NaN,Ekstra paru
981,17,P,Negatif,NaN,Tidak,NaN,Ekstra paru
982,16,L,Negatif,NaN,Tidak,NaN,Ekstra paru
983,69,P,Negatif,NaN,Tidak,NaN,Ekstra paru
984,68,L,Positif,NaN,Tidak,Negatif,Paru

In [5]:
data.isnull().sum()

UMUR                                0
JENIS KELAMIN                       0
FOTO TORAKS                        28
STATUS HIV                        261
RIWAYAT DIABETES                    0
HASIL TCM                         439
LOKASI ANATOMI (target/output)      0
dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder

labelencoder = LabelEncoder()

data['JENIS KELAMIN'] = labelencoder.fit_transform(data['JENIS KELAMIN'])
#data['FOTO TORAKS'] = labelencoder.fit_transform(data['FOTO TORAKS'])
#data['STATUS HIV'] = labelencoder.fit_transform(data['STATUS HIV'])
data['FOTO TORAKS'].replace({ 'Negatif':0, 'Positif':1}, inplace=True)
data['STATUS HIV'].replace({'Negatif':0, 'Positif':1 }, inplace=True)
data['RIWAYAT DIABETES'] = labelencoder.fit_transform(data['RIWAYAT DIABETES'])
#data['HASIL TCM'] = labelencoder.fit_transform(data['HASIL TCM'])
data['HASIL TCM'].replace({'Rif resisten':0,'Rif Sensitif':1, 'Negatif':2}, inplace=True)
data['LOKASI ANATOMI (target/output)'] = labelencoder.fit_transform(data['LOKASI ANATOMI (target/output)'])
data

,UMUR,JENIS KELAMIN,FOTO TORAKS,STATUS HIV,RIWAYAT DIABETES,HASIL TCM,LOKASI ANATOMI (target/output)
0,17,1,1.0,0.0,0,NaN,1
1,19,1,1.0,0.0,0,NaN,1
2,37,1,1.0,0.0,0,NaN,1
3,62,1,1.0,0.0,0,NaN,1
4,25,1,NaN,0.0,0,NaN,0
...,...,...,...,...,...,...,...
980,53,0,0.0,NaN,0,NaN,0
981,17,1,0.0,NaN,0,NaN,0
982,16,0,0.0,NaN,0,NaN,0
983,69,1,0.0,NaN,0,NaN,0
984,68,0,1.0,NaN,0,2.0,1

In [7]:
encoded = pd.get_dummies(data['JENIS KELAMIN'], prefix='JENIS KELAMIN')
encoded.astype(int)

     JENIS KELAMIN_0  JENIS KELAMIN_1
0                  0                1
1                  0                1
2                  0                1
3                  0                1
4                  0                1
..               ...              ...
980                1                0
981                0                1
982                1                0
983                0                1
984                1                0

[985 rows x 2 columns]

In [8]:
data = data.drop(['JENIS KELAMIN'], axis = 1)
data['JENIS KELAMIN_0'], data['JENIS KELAMIN_1'] = encoded.astype(int)['JENIS KELAMIN_0'], encoded.astype(int)['JENIS KELAMIN_1']
#encoded.astype(int)
data

,UMUR,FOTO TORAKS,STATUS HIV,RIWAYAT DIABETES,HASIL TCM,LOKASI ANATOMI (target/output),JENIS KELAMIN_0,JENIS KELAMIN_1
0,17,1.0,0.0,0,NaN,1,0,1
1,19,1.0,0.0,0,NaN,1,0,1
2,37,1.0,0.0,0,NaN,1,0,1
3,62,1.0,0.0,0,NaN,1,0,1
4,25,NaN,0.0,0,NaN,0,0,1
...,...,...,...,...,...,...,...,...
980,53,0.0,NaN,0,NaN,0,1,0
981,17,0.0,NaN,0,NaN,0,0,1
982,16,0.0,NaN,0,NaN,0,1,0
983,69,0.0,NaN,0,NaN,0,0,1
984,68,1.0,NaN,0,2.0,1,1,0

In [9]:
from sklearn import preprocessing

scaler = preprocessing.MinMaxScaler()
data = scaler.fit_transform(data)

data

array([[0.17777778, 1.        , 0.        , ..., 1.        , 0.        ,
        1.        ],
       [0.2       , 1.        , 0.        , ..., 1.        , 0.        ,
        1.        ],
       [0.4       , 1.        , 0.        , ..., 1.        , 0.        ,
        1.        ],
       ...,
       [0.16666667, 0.        ,        nan, ..., 0.        , 1.        ,
        0.        ],
       [0.75555556, 0.        ,        nan, ..., 0.        , 0.        ,
        1.        ],
       [0.74444444, 1.        ,        nan, ..., 1.        , 1.        ,
        0.        ]])

In [10]:
df = pd.DataFrame(data, columns =['UMUR', 'FOTO TORAKS', 'STATUS HIV', 'RIWAYAT DIABETES', 'HASIL TCM', 'LOKASI ANATOMI (target/output)', 'JENIS KELAMIN_0', 'JENIS KELAMIN_1'])
df

,UMUR,FOTO TORAKS,STATUS HIV,RIWAYAT DIABETES,HASIL TCM,LOKASI ANATOMI (target/output),JENIS KELAMIN_0,JENIS KELAMIN_1
0,0.177778,1.0,0.0,0.0,NaN,1.0,0.0,1.0
1,0.200000,1.0,0.0,0.0,NaN,1.0,0.0,1.0
2,0.400000,1.0,0.0,0.0,NaN,1.0,0.0,1.0
3,0.677778,1.0,0.0,0.0,NaN,1.0,0.0,1.0
4,0.266667,NaN,0.0,0.0,NaN,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...
980,0.577778,0.0,NaN,0.0,NaN,0.0,1.0,0.0
981,0.177778,0.0,NaN,0.0,NaN,0.0,0.0,1.0
982,0.166667,0.0,NaN,0.0,NaN,0.0,1.0,0.0
983,0.755556,0.0,NaN,0.0,NaN,0.0,0.0,1.0
984,0.744444,1.0,NaN,0.0,1.0,1.0,1.0,0.0

In [13]:
df['JENIS KELAMIN_0'] = df['JENIS KELAMIN_0'].astype('object')
df['JENIS KELAMIN_1'] = df['JENIS KELAMIN_1'].astype('object')
df['FOTO TORAKS'] = df['FOTO TORAKS'].astype('object')
df['STATUS HIV'] = df['STATUS HIV'].astype('object')
df['RIWAYAT DIABETES'] = df['RIWAYAT DIABETES'].astype('object')
df['HASIL TCM'] = df['HASIL TCM'].astype('object')
df['LOKASI ANATOMI (target/output)'] = df['LOKASI ANATOMI (target/output)'].astype('object')
df['UMUR'] = df['UMUR'].astype('int')
print(df.dtypes)

UMUR                               int32
FOTO TORAKS                       object
STATUS HIV                        object
RIWAYAT DIABETES                  object
HASIL TCM                         object
LOKASI ANATOMI (target/output)    object
JENIS KELAMIN_0                   object
JENIS KELAMIN_1                   object
dtype: object

In [14]:
# melakukan k-means clustering pada atribut numerik
kmeans = KMeans(n_clusters=3, random_state=42).fit(df[['UMUR']])
df['cluster_umur'] = kmeans.labels_

C:\Users\Lenovo\AppData\Roaming\Python\Python311\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_2004\112536609.py:2: ConvergenceWarning: Number of distinct clusters (2) found smaller than n_clusters (3). Possibly due to duplicate points in X.
  kmeans = KMeans(n_clusters=3, random_state=42).fit(df[['UMUR']])

In [18]:
# melakukan k-modes clustering pada atribut kategorikal
from kmodes.kprototypes import KPrototypes

kp = KPrototypes(n_clusters=3, random_state=42).fit(df[['JENIS KELAMIN_0', 'JENIS KELAMIN_1','FOTO TORAKS', 'STATUS HIV', 'RIWAYAT DIABETES', 'HASIL TCM']])
df['cluster_kat'] = kp.labels_

NotImplementedError: No categorical data selected, effectively doing k-means. Present a list of categorical columns, or use scikit-learn's KMeans instead.